:root {
    --white-color: #ffffff;
    --black-color: #0b1d27;
}

@font-face {
    font-family: "Poppins-bold";
    src: url("../font/poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-semi-bold";
    src: url("../font/poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-regular";
    src: url("../font/poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-light";
    src: url("../font/poppins/Poppins-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins-regular', sans-serif;
    color: #ffffff;
    background-color: #0b1d27;
}
/** loading **/

.loading {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.loading img {
    width: 300px;
}
.hidden {
    display: none;
}
/** end loading */

/** header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 20;
    font-family: 'Poppins-semi-bold';
    transition: all 0.2s ease-in-out;
}

.scroll {
    background-color: #0b1d27;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

header a:hover {
    color:#FBD784;
}

/** parallax **/

.parallax {
    width: 100%;
    overflow: hidden;
}

.parallax img {
    width: 100%;
}

.nuage {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: -25em;
    left: 0;
    z-index: 4;
}

.montagne {
    position: absolute;
    top: 15em;
    left: 0;
    z-index: 5;
    width: 100%;
    overflow: hidden;
}

.prairie {
    position: absolute;
    top: 32em;
    left: 0;
    z-index: 6;
    width: 100%;
    overflow: hidden;
}

/** hero */

.margin-5 {
    margin-left: 10px;
}

.hero {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 40%, #0B1D26 100%);
    padding: 6em 3em;
}

.hero-container {
    width: 60%;
    margin: auto;
    padding-top: 6%;
}

.hero-title {
    font-size: 4em;
    font-family: "Poppins-bold";
    margin: 10px 0;
}

.hero-subtitle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    color: #FBD784;
    word-spacing: 10px;
    letter-spacing: 3px;
}

.ligne {
    height: 2px;
    width: 60px;
    background-color: #FBD784;
}

.hero-action {
    margin-top: 15px;
}

section {
    padding: 3em 8em 0 8em;
}

.section1 {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 80vh;
    z-index: 10;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
}

.section-left {
    flex: 60%;
}

.section-right {
    flex: 40%;
}

.section1 div:last-child {
    overflow: hidden;
}

.section1 div:last-child img {
    width: 100%;
    height: 100%;
}

.section2 {
    position: absolute;
    top: 180vh;
    left: 0;
    width: 100%;
    height: 80vh;
    z-index: 10;
    background-color: #0b1d27;
    display: flex;
    flex-direction: row;
    row-gap: 2em;
}

.section2-left {
    flex: 40%;
}
.section2-right {
    flex: 60%;
}

.section2 div:first-child {
    overflow: hidden;
}

.section2 div:first-child img {
    width: 100%;
    height: 100%;
}

.section3 {
    position: absolute;
    top: 260vh;
    left: 0;
    width: 100%;
    height: 80vh;
    z-index: 10;
    background-color: #0b1d27;
}

section h1 {
    font-size: 40px;
    margin: 0.5em 0;
}

section p {
    margin-bottom: 0.5em;
}

section a {
    text-decoration: none;
    color:#FBD784;
}

.section-text-container {
    padding: 2em;
}

footer {
    background-color: #0b1d27;
    position: absolute;
    top: 340vh;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 4em 8em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
    margin-top: 4em;
}

.footer-items-left {
    flex: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.footer-items-right {
    flex: 40%;
    padding: 10px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 1em;
}

.footer-links h3 {
    color: #FBD784;
    margin-bottom: 10px;
    font-family: 'Poppins-semi-bold';
    font-size: 20px;
}

footer ul {
    list-style: none;
}

footer ul li {
    padding: 0.8em 0;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
footer ul li a:hover {
    color: #FBD784;
}

.footer-items-left h3 {
    font-size: 30px;
    margin-bottom: 0.8em;
}

.footer-items-left h5 {
    font-family: 'Poppins-regular';
}

.footer-items-left p {
    color: #fefefe7e;
}

.social {
    position: fixed;
    left: 3em;
    top: 15em;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social p {
    writing-mode: tb-rl;
}

.navigation {
    position: fixed;
    right: 3em;
    top: 15em;
    z-index: 20;
    display: flex;
    flex-direction: column;
    text-align: right   ;
}

.navigation .navigation-element {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    text-align: right;
}

.navigation .rect {
    width: 4px;
    height: 50px;
    background-color: #ffffff6c;
}

.rect-active {
    background-color: #fff !important;
}

@media screen and (max-width: 1100px) {
    .parallax img {
        width: 120%;
    }
    .nuage {
        top: -10em;
    }
    
    .montagne {
        top: 15em;
    }
    
    .prairie {
        top: 28em;
    }

    .section1 {
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 50%);
    }
    .hero-container {
        width: 90%;
    }
    .hero-title {
        font-size: 3.5em;
    }

    section, footer {
        padding: 3em;
    }

    footer {
        flex-direction: column-reverse;
    }

    .footer-items-left {
        text-align: center;
        align-items: center;
        row-gap: 0.8em;
    }

    .footer-items-left, .footer-items-right {
        flex: 100%;
    }
}

@media screen and (max-width: 700px) {
    .hero-container {
        width: 100%;
        margin: auto;
        padding-bottom: 2em;
    }
    .hero-title {
        font-size: 3em;
    }
    .parallax img {
        width: 140%;
    }
    .nuage {
        top: 0;
    }
    
    .montagne {
        top: 12em;
    }
    
    .prairie {
        top: 20em;
    }

    .hero {
        height: 80vh;
    }

    section {
        height: 100vh !important;
    }

    .section1 {
        height: auto;
        background: linear-gradient(to bottom, rgba(11, 29, 38, 0) 0%, #0B1D26 30%);
        top: 80vh;
    }

    .section-left, .section-right {
        flex: 100%;
    }

    .section2-left, .section2-right {
        flex: auto;
    }

    .section2 {
        top: 180vh;
        flex-direction: column-reverse;
    }

    .section3 {
        top: 280vh;
    }

    footer {
        top: 380vh;
    }

    .social, .navigation {
        display: none;
    }
    
}
